@includeNamed{"common.templ"}
@if{incrementalIndex==0}
/// <reference types="@{getNPMScope(type.raw.module)}" />\n
module.exports = {\n
@if{type.raw.moduleName == 'vertx'}
  AsyncResult: Java.type('io.vertx.core.AsyncResult'),\n
@end{}
@end{}
  @{type.raw.simpleName}: Java.type('@{type.name}')@if{incrementalIndex!=incrementalSize-1},@end{}\n
@if{incrementalIndex==incrementalSize-1}
};\n
@end{}
