@includeNamed{"common.templ"}
# @{name}\n
\n
Generated JavaScript bindings for Eclipse Vert.x.\n
\n

## Documentation

* [API Docs](https://reactiverse.io/es4x/@{getNPMScope(module)})
* [NPM module](https://www.npmjs.com/package/@{getNPMScope(module)})
